## 1 Combining Data with Pandas

### 1.1 Introduction

In the last lesson, we worked with just one data set, the 2015 World Happiness Report, to explore **data aggregation**. However, it's very common in practice to **work with more than one data set at a time**.

Often, you'll find that you need additional data to perform analysis or you'll find that you have the data, but need to pull it from mulitiple sources. In this lesson, we'll learn a couple of different techniques for combining data using pandas to easily handle situations like these.

We'll use what we learned in the last lesson to analyze the **2015**, **2016**, and **2017 World Happiness Reports**. Specifically, we'll look to answer the following question:

- Did world happiness increase, decrease, or stay about the same from 2015 to 2017?

As a reminder, these reports assign each country a happiness score based on a poll question that asks respondents to rank their life on a scale of 0 - 10, so "world happiness" refers to this definition specifically.

Below is a preview of the 2015 report:


| | Country | Region | Happiness Rank | Happiness Score | Standard Error | Economy (GDP per Capita) | Family | 
|---------|-------------|----------------|-----------------|----------------|--------------------------|---------|--------------------------|
| 0 | Switzerland | Western Europe | 1 | 7.587 | 0.03411 | 1.39651 | 1.34951 |
| 1 | Iceland | Western Europe | 2 | 7.561 | 0.04884 | 1.30232 | 1.40223 |
| 2 | Denmark | Western Europe | 3 | 7.527 | 0.03328 | 1.32548 | 1.36058 |
| 3 | Norway | Western Europe | 4 | 7.522 | 0.03880 | 1.45900 | 1.33095 |
| 4 | Canada | North America | 5 | 7.427 | 0.03553 | 1.32629 | 1.32261 |

Below are descriptions for some of the columns:

- **Country** - Name of the country
- **Region** - Name of the region the country belongs to
- **Happiness Rank** - The rank of the country, as determined by its happiness score
- **Happiness Score** - A score assigned to each country based on the answers to a poll question that asks respondents to rate their happiness on a scale of 0-10

Let's start by reading the **2015**, **2016**, and **2017** reports into a pandas dataframe and adding a **Year** column to each to make it easier to distinguish between them.

**Exercise**

<left><img width="100" src="https://drive.google.com/uc?export=view&id=1E8tR7B9YYUXsU_rddJAyq0FrM0MSelxZ"></left>

We've already read the **World_Happiness_2015.csv** file into a dataframe called **happiness2015**.

- Use the **pandas.read_csv()** function to read the **World_Happiness_2016.csv** file into a dataframe called **happiness2016** and the **World_Happiness_2017.csv** file into a dataframe called **happiness2017**.
- Add a column called **Year** to each dataframe with the corresponding year. For example, the **Year** column in **happiness2015** should contain the value 2015 for each row.

In [1]:
import pandas as pd
happiness2015 = pd.read_csv("World_Happiness_2015.csv")
happiness2015['Year'] = 2015
#put your code here
happiness2016 = pd.read_csv("World_Happiness_2016.csv")
happiness2016['Year'] = 2016
happiness2017 = pd.read_csv("World_Happiness_2017.csv")
happiness2017['Year'] = 2017

### 1.2 Combining Dataframes with the Concat Function

Let's start by exploring the [pd.concat()](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.concat.html) function. The **concat()** function combines dataframes one of two ways:

1. Stacked: Axis = 0 (This is the default option.)

<left><img width="300" src="https://drive.google.com/uc?export=view&id=1CYdRFTWrhkt6MQC-4bo4uOjE8ZfG9jOt"></left>

2. Side by Side: Axis = 1

<left><img width="600" src="https://drive.google.com/uc?export=view&id=1D5NGhSzGARmchcnpjgcVgN7OsSU7aR7O"></left>

Since **concat** is a function, not a method, we use the syntax below:

<left><img width="500" src="https://drive.google.com/uc?export=view&id=1e-j71SCj4Ri8EP6QGDnko6w1XFqhKLGX"></left>

In the next exercise, we'll use the **concat()** function to combine subsets of **happiness2015** and **happiness2016** and then debrief the results on the following section.

Below are the subsets we'll be working with:

In [3]:
head_2015 = happiness2015[['Country',
                           'Happiness Score', 
                           'Year']].head(3)
head_2015

       Country  Happiness Score  Year
0  Switzerland            7.587  2015
1      Iceland            7.561  2015
2      Denmark            7.527  2015

In [4]:
head_2016 = happiness2016[['Country',
                           'Happiness Score', 
                           'Year']].head(3)
head_2016

       Country  Happiness Score  Year
0      Denmark            7.526  2016
1  Switzerland            7.509  2016
2      Iceland            7.501  2016

Let's use the **concat()** function to combine **head_2015** and **head_2016** next.

**Exercise**

<left><img width="100" src="https://drive.google.com/uc?export=view&id=1E8tR7B9YYUXsU_rddJAyq0FrM0MSelxZ"></left>

We've already saved the subsets from **happiness2015** and **happiness2016** to the variables **head_2015** and **head_2016**.

- Use the **pd.concat()** function to combine **head_2015** and **head_2016** along **axis = 0**. Remember to pass the **head_2015** and **head_2016** into the function as a list. Assign the result to **concat_axis0**.
- Use the **pd.concat()** function to combine **head_2015** and **head_2016** along **axis = 1**. Remember to pass **head_2015** and **head_2016** into the function as a list and set the **axis** parameter equal to 1. Assign the result to **concat_axis1**.
- Assign the number of rows in **concat_axis0** to a variable called **question1**.
- Assign the number of rows in **concat_axis1** to a variable called **question2**.

In [5]:
# put your code here
question1 = pd.concat([head_2015,head_2016], axis = 0)
question2 = pd.concat([head_2015,head_2016], axis = 1)
question1
question2

       Country  Happiness Score  Year      Country  Happiness Score  Year
0  Switzerland            7.587  2015      Denmark            7.526  2016
1      Iceland            7.561  2015  Switzerland            7.509  2016
2      Denmark            7.527  2015      Iceland            7.501  2016

### 1.3 Combining Dataframes with the Concat Function Continued

When you reviewed the results from the last exercise, you probably noticed that we merely pushed the dataframes together vertically or horizontally - none of the values, column names, or indexes changed. For this reason, when you use the **concat()** function to combine dataframes with the same shape and index, you can think of the function as "gluing" dataframes together.

<left><img width="500" src="https://drive.google.com/uc?export=view&id=1XJOhkxKMokGHw7HMeSzOYxVJ8-bQiL-Z"></left>


However, what happens if the dataframes have different shapes or columns? Let's confirm the **concat()** function's behavior when we combine dataframes that don't have the same shape in the next exercise.

We'll work with the following subsets:

In [ ]:
head_2015 = happiness2015[['Year','Country','Happiness Score', 'Standard Error']].head(4)
head_2015

In [ ]:
head_2016 = happiness2016[['Country','Happiness Score', 'Year']].head(3)
head_2016

Notice in the subsets above that **head_2015** contains one column that **head_2016** does not - the **Standard Error** column. Let's confirm what happens when we concatenate them next.

**Exercise**

<left><img width="100" src="https://drive.google.com/uc?export=view&id=1E8tR7B9YYUXsU_rddJAyq0FrM0MSelxZ"></left>

We've already created the **head_2015** and **head_2016** variables.

- Use the **pd.concat()** function to combine **head_2015** and **head_2016** along **axis = 0**. Remember to pass the **head_2015** and **head_2016** into the function as a list. Assign the result to **concat_axis0**.

In [ ]:
# put your code here
concat_axis0 = pd.concat([head_2015,head_2016], axis = 0, sort = True)
concat_axis0

### 1.4 Combining Dataframes with Different Shapes Using the Concat Function

In the last exercise, we saw that the analogy of "gluing" dataframes together doesn't fully describe what happens when concatenating dataframes of different shapes. Instead, the function combined the data according to the corresponding column names:

<left><img width="700" src="https://drive.google.com/uc?export=view&id=19gyEqPO137B0vkALZfcQ4jDKHY504bF1"></left>


Note that because the **Standard Error** column didn't exist in **head_2016**, **NaN** values were created to signify those values are missing. By default, the **concat** function will keep ALL of the data, no matter if missing values are created.

Also, notice again the indexes of the original dataframes didn't change. If the indexes aren't meaningful, it can be better to reset them. This is especially true when we create duplicate indexes, because they could cause errors as we perform other data cleaning tasks.

Luckily, the **concat** function has a parameter, **ignore_index**, that can be used to clear the existing **index** and **reset** it in the result. Let's practice using it next.

**Exercise**

<left><img width="100" src="https://drive.google.com/uc?export=view&id=1E8tR7B9YYUXsU_rddJAyq0FrM0MSelxZ"></left>

- Use the **pd.concat()** function to combine **head_2015** and **head_2016** along **axis = 0** again. This time, however, set the **ignore_index** parameter to **True** to reset the index in the result. Assign the result to **concat_update_index**.

In [ ]:
# put your code here
concat_update_index = pd.concat([head_2015,head_2016], axis = 0 , ignore_index = True, sort= True)
concat_update_index

### 1.5 Joining Dataframes with the Merge Function

Next, we'll explore the [pd.merge() function](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) - a function that can execute high performance database-style joins. Note that unlike the **concat** function, the **merge** function only combines dataframes horizontally (axis=1) and **can only combine two dataframes at a time**. However, it can be valuable when we need to combine very large dataframes quickly and provides more flexibility in terms of how data can be combined, as we'll see in the next couple sections.

With the **merge()** function, we'll combine dataframes on a **key**, a **shared index** or **column**. When choosing a key, it's good practice to use keys with unique values to avoid duplicating data.

You can think of keys as creating a link from one dataframe to another using the common values or indexes. For example, in the diagram below, we linked the dataframes using common values in the Country columns.

<left><img width="400" src="https://drive.google.com/uc?export=view&id=1ZBKNem91tjiV0XzcJSQGUgfm90ihmCMr"></left>

In the diagram below, we use those common country values to join or merge the dataframes.

<left><img width="700" src="https://drive.google.com/uc?export=view&id=1t5ioaNiXdnkWKGwVh3cpFbJLKCqTLoU7"></left>


We'll explore the merge function in the next exercise using just three rows from **happiness2015** and **happiness2016**:

In [ ]:
three_2015 = happiness2015[['Country','Happiness Rank','Year']].iloc[2:5]
three_2015

In [ ]:
three_2016 = happiness2016[['Country','Happiness Rank','Year']].iloc[2:5]
three_2016

We'll use the following syntax:

<left><img width="600" src="https://drive.google.com/uc?export=view&id=1mApwE1qMRnbUmBSa7D5jf93XuTbmQDB3"></left>

**Exercise**

<left><img width="100" src="https://drive.google.com/uc?export=view&id=1E8tR7B9YYUXsU_rddJAyq0FrM0MSelxZ"></left>


We've already saved three rows from **happiness2015** and **happiness2016** to variables named **three_2015** and **three_2016**.

- Use the **pd.merge()** function to join **three_2015** and **three_2016** on the **Country** column. Assign the result to **merged**.

In [ ]:
# put your code here
merged = pd.merge(left = three_2015, right = three_2016, on = 'Country')
merged

### 1.6 Joining on Columns with the Merge Function

Joining three_2015 and three_2016 in the last exercise resulted in a dataframe with just one row.

Let's look back to **three_2015** and **three_2016** to understand why. Since we joined the dataframes on the **Country** column, or used it as the **key**, the **merge()** function looked to match elements in the **Country** column in **BOTH** dataframes.

<left><img width="600" src="https://drive.google.com/uc?export=view&id=1z300DyQ7dUwHNlnz--gfcCh7x6rkGunL"></left>


The one country returned in **merged** was **"Norway"**, the only element that appeared in the **Country** column in **BOTH** **three_2015** and **three_2016**.

This way of combining, or joining, data is called an **inner join**. An **inner join returns only the intersection of the keys**, or the elements that appear in both dataframes with a common key.

The term **"join"** originates from **SQL** (or structured query language), a language used to work with databases. If you're a SQL user, you'll recognize the following concepts. If you've never used SQL, don't worry! No prior knowledge is neccessary for this lesson.

There are actually four different types of joins:

- **Inner**: only includes elements that appear in both dataframes with a common key
- **Outer**: includes all data from both dataframes
- **Left**: includes all of the rows from the "left" dataframe along with any rows from the "right" dataframe with a common key; the result retains all columns from both of the original dataframes
- **Right**: includes all of the rows from the "right" dataframe along with any rows from the "left" dataframe with a common key; the result retains all columns from both of the original dataframes

If the definition for outer joins sounds familiar, it's because we've already seen examples of outer joins! Recall that when we combined data using the **concat** function, it kept all of the data from all dataframes, no matter if missing values were created.

Since it's much more common to use **inner** and **left joins** for database-style joins, we'll focus on these join types for the remainder of the lesson, but encourage you to explore the other options on your own.

Let's experiment with changing the join type next.

**Exercise**

<left><img width="100" src="https://drive.google.com/uc?export=view&id=1E8tR7B9YYUXsU_rddJAyq0FrM0MSelxZ"></left>


- Update **merged** to use a **left join** instead of an **inner join**. Set the **how** parameter to **'left'** in **merge()**. Assign the result to **merged_left**.
- Update **merged_left** so that the **left** parameter equals **three_2016** and the **right** parameter equals **three_2015**. Assign the result to **merged_left_updated**.
- Based on the results of this exercise, when using a **left join**, does changing the dataframe assigned to the left and right parameters change the result? Try to answer this question before moving onto the next section

In [ ]:
three_2015 = happiness2015[['Country','Happiness Rank','Year']].iloc[2:5]
three_2016 = happiness2016[['Country','Happiness Rank','Year']].iloc[2:5]
merged = pd.merge(left=three_2015, right=three_2016, on='Country')

#put your code here
merged_left = pd.merge(left=three_2015, right=three_2016,how ='left', on='Country')
merged_left
merged_left_updated = pd.merge(left=three_2016, right=three_2015,how ='left', on='Country')
merged_left_updated

### 1.7 Left Joins with the Merge Function

Let's summarize what we learned in the last exercise:

- Changing the join type from an **inner join** to a **left join** resulted in a dataframe with more rows and created **NaNs**.
- When using a **left join**, interchanging the dataframes assigned to the left and right parameters changes the results.

Let's look into the results in more detail. First, let's look at the case in which the "left" dataframe is **three_2015** and the "right" dataframe is **three_2016**:

In [ ]:
pd.merge(left=three_2015, right=three_2016, how='left', on='Country')

Recall that a left join includes all of the rows from the "left" dataframe along with any rows from the "right" dataframe with a common key.

<left><img width="700" src="https://drive.google.com/uc?export=view&id=1IGRy--ZJcljf0th7y9VK7HNN5M-q9Oq3"></left>


Since the **Country** column was used as the key, only countries that appear in **BOTH** dataframes have a value in every column. **"Norway"** was the only value in the **Country** column in **BOTH** dataframes, so it's the only row with a value in every column.

When we interchanged the "left" and the "right" dataframes, the values changed:

In [ ]:
pd.merge(left=three_2016, right=three_2015, how='left', on='Country')

This time, we kept all of the rows from **three_2016**. **"Norway"** was still the only value in the **Country** column in **BOTH** dataframes, so it's the only row with a value in every column.

<left><img width="700" src="https://drive.google.com/uc?export=view&id=1tG4WWHIM1Fc41R2-CJrG8IBlBam2lGh0"></left>

In summary, we'd use a **left join** when we don't want to drop any data from the left dataframe.

Note that a **right join** works the same as a **left join**, except it includes all of the rows from the "right" dataframe. Since it's far more common in practice to use a left join, we won't cover right joins in detail.

You may have also noticed above that the merge function added a suffix of either **_x** or **_y** to columns of the same name to distinguish between them.

Let's update those suffixes next to make our results easier to read.

**Exercise**

<left><img width="100" src="https://drive.google.com/uc?export=view&id=1E8tR7B9YYUXsU_rddJAyq0FrM0MSelxZ"></left>

- Update **merged** to use the suffixes **_2015** and **_2016**. Set the **suffixes** parameter to **('_2015', '_2016')** in **merge()**. Assign the result to **merged_suffixes**.
- Update **merged_updated** to use the suffixes **_2015** and **_2016**. Notice that the "left" dataframe is **three_2016** and the "right" dataframe is **three_2015**. Assign the result to **merged_updated_suffixes**.

In [ ]:
three_2015 = happiness2015[['Country','Happiness Rank','Year']].iloc[2:5]
three_2016 = happiness2016[['Country','Happiness Rank','Year']].iloc[2:5]
merged = pd.merge(left=three_2015, right=three_2016, how='left', on='Country')
merged_updated = pd.merge(left=three_2016, right=three_2015, how = 'left', on='Country')
# put your code here
merged_left_updated
marged_suffixes = pd.merge(left=three_2015, right=three_2016, how = 'left', on='Country', suffixes=['_2015','_2016'])
marged_suffixes
merged_updated_suffixes =  pd.merge(left=three_2016, right=three_2015, how = 'left', on='Country', suffixes=['_2016','_2015'])
merged_updated_suffixes

### 1.8 Join on Index with the Merge Function

Now that we have a good understanding of how to join dataframes on specific columns, let's look at another way to join dataframes - **on the index**.

<left><img width="200" src="https://drive.google.com/uc?export=view&id=1qFNgVIytv1vkBGr0QTMyDPIqm4aG8JCQ"></left>


In this section, we'll work with the following two subsets of **happiness2015** and **happiness2016**:

In [ ]:
four_2015 = happiness2015[['Country','Happiness Rank','Year']].iloc[2:6]
four_2015

In [ ]:
three_2016 = happiness2016[['Country','Happiness Rank','Year']].iloc[2:5]
three_2016

We'll join **happiness2015** and **happiness2016** **on index** using an **inner join**, so that the result contains only the elements in the key that appear in BOTH dataframes. First, though, let's make a prediction. How many rows and columns do you think the result will have? Write down your answer before you continue reading.

To join on the index, we'll set the **left_index** and **right_index** parameters to **True**:

In [ ]:
pd.merge(left=four_2015, right=three_2016, left_index=True, right_index=True, suffixes=('_2015','_2016'))

Was your prediction correct? Based on our experience with joining on columns, you may have predicted the output would have just two rows, since only "Finland" and "Norway" appear in both dataframes. When we join on index, however, our result will contain only common indexes.

<left><img width="400" src="https://drive.google.com/uc?export=view&id=1DPEg-1Y2fVWZLAh_axHVJN6bjPWBV2tS"></left>

Let's explore what happens when we join on index with a left join instead.

**Exercise**

<left><img width="100" src="https://drive.google.com/uc?export=view&id=1E8tR7B9YYUXsU_rddJAyq0FrM0MSelxZ"></left>


We've already saved **four_2015** and **three_2016**. In this exercise, we'll use a **left join** to combine **four_2015** and **three_2016**.

- Predict the number of rows and columns the resulting dataframe will have. Assign the number of rows to a variable called **rows** and the number of columns to a variable called **columns**.
- To change the join type used in **merge_index** to a left join, set the **how** parameter equal to 'left'. Save the result to **merge_index_left**.
- Update **rows** and **columns** so that each contains the correct number of rows and columns in **merge_index_left**.

In [ ]:
import pandas as pd
four_2015 = happiness2015[['Country','Happiness Rank','Year']].iloc[2:6]
three_2016 = happiness2016[['Country','Happiness Rank','Year']].iloc[2:5]
merge_index = pd.merge(left = four_2015,
                       right = three_2016, 
                       left_index = True, 
                       right_index = True, 
                       suffixes = ('_2015','_2016'))
# put your code here
linhas = 7
colunas = 6

merge_index_left = pd.merge(left = four_2015,
                       right = three_2016, 
                        how = 'left',
                       left_index = True, 
                       right_index = True, 
                       suffixes = ('_2015','_2016'))
# wrong in the columns I puted 4 but really 6
linhas = 7
colunas = 4

merge_index

### 1.9 Challenge: Combine Data and Create a Visualization

Let's summarize what we learned in this mission:

<left><img width="600" src="https://drive.google.com/uc?export=view&id=1DTt7S1NSRCbIC1NMepRWsw-hyz0YjVRG"></left>


You may still be wondering about when to use each of the functions and methods we've learned. This table can help you understand the limitations of each, but that decision will mostly depend on the problem you're trying to solve.

Let's review our original question next:

- **Did world happiness increase, decrease, or stay about the same from 2015 to 2017**?

To answer this question, we'll create a bar plot in which each bar represented the mean happiness score for one of the years. We completed a similar task in the last lesson when we calculated the mean happiness score for each region using the **df.pivot_table()** method:

In [ ]:
import numpy as np
#Use a pivot table to aggregate the data according to Region.
means = happiness2015.pivot_table('Happiness Score', 'Region', aggfunc=np.mean)
means

Then, we plotted the results with the **df.plot()** method.

In [ ]:
#Use the `df.plot()` method to plot the results.
means.plot(kind='barh', 
           title='Mean Happiness Scores by Region', 
           xlim=(0,10))

Let's repeat the same steps, but this time, we'll group the data by the **Year** column. First, let's rename the **Happiness.Score** column so it matches the colum name in **happiness2015** and **happiness2016**:

In [ ]:
happiness2017.rename(columns={'Happiness.Score': 'Happiness Score'}, inplace=True)

Next, we need to combine **happiness2015**, **happiness2016**, and **happiness2017**, so that we can group the result by the **Year** column.

Let's use what we learned in this lesson to combine the dataframes.


**Exercise**

<left><img width="100" src="https://drive.google.com/uc?export=view&id=1E8tR7B9YYUXsU_rddJAyq0FrM0MSelxZ"></left>

We've already created a **Year** column in **happiness2017** and renamed the **Happiness.Score** column to **Happiness Score**.

- Use either the **pd.concat()** function or the **pd.merge()** function to combine **happiness2015**, **happiness2016**, and **happiness2017**. Assign the result to **combined**.
  - Think about whether you need to combine the data horizontally or vertically in order to create a dataframe that can be grouped by year, and decide which function (pd.concat() or pd.merge()) you can use to combine the data.
- Use the **df.pivot_table()** method to create a pivot table from the combined dataframe. Set **Year** as the index and **Happiness Score** as the values. Assign the result to **pivot_table_combined**.
- Use the **df.plot()** method to create a bar chart of the results. Set the kind parameter to **barh**, the title to **'Mean Happiness Scores by Year'**, and the **xlim** parameter to **(0,10)**.
- Try to answer the following question based on the results of this exercise: Did world happiness increase, decrease, or stay about the same from 2015 to 2017?

In [23]:
# put your code here
# def clean_col(col):
#     col = col.replace('Happiness.Rank','Happiness Rank')
#     col = col.replace('Happiness.Score',  'Happiness Score')
#     col = col.replace('Economy..GDP.per.Capita.', 'Economy (GDP per Capita)')
#     col = col.replace('Health..Life.Expectancy.', 'Health (Life Expectancy)')
#     col = col.replace('Trust..Government.Corruption.',  'Trust (Government Corruption)')
#     col = col.replace('Dystopia.Residual','Dystopia Residual')
#     return col

# # happiness2017.columns = [clean_col(c) for c in happiness2017.columns]

# put your code here





combined = pd.concat([happiness2015,happiness2017,happiness2016], axis = 0 )
combined
# happiness2016 = happiness2016.drop(['Dystopia Residual'], axis=1)
# happiness2016.info()

/home/leonardo/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:19: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

,Country,Dystopia Residual,Economy (GDP per Capita),Family,Freedom,Generosity,Happiness Rank,Happiness Score,Health (Life Expectancy),Lower Confidence Interval,Region,Standard Error,Trust (Government Corruption),Upper Confidence Interval,Whisker.high,Whisker.low,Year
0,Switzerland,2.51738,1.39651,1.34951,0.66557,0.29678,1,7.587,0.94143,NaN,Western Europe,0.03411,0.41978,NaN,NaN,NaN,2015
1,Iceland,2.70201,1.30232,1.40223,0.62877,0.43630,2,7.561,0.94784,NaN,Western Europe,0.04884,0.14145,NaN,NaN,NaN,2015
2,Denmark,2.49204,1.32548,1.36058,0.64938,0.34139,3,7.527,0.87464,NaN,Western Europe,0.03328,0.48357,NaN,NaN,NaN,2015
3,Norway,2.46531,1.45900,1.33095,0.66973,0.34699,4,7.522,0.88521,NaN,Western Europe,0.03880,0.36503,NaN,NaN,NaN,2015
4,Canada,2.45176,1.32629,1.32261,0.63297,0.45811,5,7.427,0.90563,NaN,North America,0.03553,0.32957,NaN,NaN,NaN,2015
5,Finland,2.61955,1.29025,1.31826,0.64169,0.23351,6,7.406,0.88911,NaN,Western Europe,0.03140,0.41372,NaN,NaN,NaN,2015
6,Netherlands,2.46570,1.32944,1.28017,0.61576,0.47610,7,7.378,0.89284,NaN,Western Europe,0.02799,0.31814,NaN,NaN,NaN,2015
7,Sweden,2.37119,1.33171,1.28907,0.65980,0.36262,8,7.364,0.91087,NaN,Western Europe,0.03157,0.43844,NaN,NaN,NaN,2015
8,New Zealand,2.26425,1.25018,1.31967,0.63938,0.47501,9,7.286,0.90837,NaN,Australia and New Zealand,0.03371,0.42922,NaN,NaN,NaN,2015
9,Australia,2.26646,1.33358,1.30923,0.65124,0.43562,10,7.284,0.93156,NaN,Australia and New Zealand,0.04083,0.35637,NaN,NaN,NaN,2015
10,Israel,3.08854,1.22857,1.22393,0.41319,0.33172,11,7.278,0.91387,NaN,Middle East and Northern Africa,0.03470,0.07785,NaN,NaN,NaN,2015
11,Costa Rica,3.17728,0.95578,1.23788,0.63376,0.25497,12,7.226,0.86027,NaN,Latin America and Caribbean,0.04454,0.10583,NaN,NaN,NaN,2015
12,Austria,2.53320,1.33723,1.29704,0.62433,0.33088,13,7.200,0.89042,NaN,Western Europe,0.03751,0.18676,NaN,NaN,NaN,2015
13,Mexico,3.60214,1.02054,0.91451,0.48181,0.14074,14,7.187,0.81444,NaN,Latin America and Caribbean,0.04176,0.21312,NaN,NaN,NaN,2015
14,United States,2.51011,1.39451,1.24711,0.54604,0.40105,15,7.119,0.86179,NaN,North America,0.03839,0.15890,NaN,NaN,NaN,2015
15,Brazil,3.26001,0.98124,1.23287,0.49049,0.14574,16,6.983,0.69702,NaN,Latin America and Caribbean,0.04076,0.17521,NaN,NaN,NaN,2015
16,Luxembourg,1.96961,1.56391,1.21963,0.61583,0.28034,17,6.946,0.91894,NaN,Western Europe,0.03499,0.37798,NaN,NaN,NaN,2015
17,Ireland,1.97570,1.33596,1.36948,0.61777,0.45901,18,6.940,0.89533,NaN,Western Europe,0.03676,0.28703,NaN,NaN,NaN,2015
18,Belgium,2.41484,1.30782,1.28566,0.58450,0.22250,19,6.937,0.89667,NaN,Western Europe,0.03595,0.22540,NaN,NaN,NaN,2015
19,United Arab Emirates,2.24743,1.42727,1.12575,0.64157,0.26428,20,6.901,0.80925,NaN,Middle East and Northern Africa,0.03729,0.38583,NaN,NaN,NaN,2015
20,United Kingdom,1.96994,1.26637,1.28548,0.59625,0.51912,21,6.867,0.90943,NaN,Western Europe,0.01866,0.32067,NaN,NaN,NaN,2015
21,Oman,2.47489,1.36011,1.08182,0.63274,0.21542,22,6.853,0.76276,NaN,Middle East and Northern Africa,0.05335,0.32524,NaN,NaN,NaN,2015
22,Venezuela,3.19131,1.04424,1.25596,0.42908,0.05841,23,6.810,0.72052,NaN,Latin America and Caribbean,0.06476,0.11069,NaN,NaN,NaN,2015
23,Singapore,1.88501,1.52186,1.02000,0.54252,0.31105,24,6.798,1.02525,NaN,Southeastern Asia,0.03780,0.49210,NaN,NaN,NaN,2015
24,Panama,2.84848,1.06353,1.19850,0.54210,0.24434,25,6.786,0.79661,NaN,Latin America and Caribbean,0.04910,0.09270,NaN,NaN,NaN,2015
25,Germany,2.11569,1.32792,1.29937,0.61477,0.28214,26,6.750,0.89186,NaN,Western Europe,0.01848,0.21843,NaN,NaN,NaN,2015
26,Chile,2.67585,1.10715,1.12447,0.44132,0.33363,27,6.670,0.85857,NaN,Latin America and Caribbean,0.05800,0.12869,NaN,NaN,NaN,2015
27,Qatar,1.55674,1.69042,1.07860,0.64040,0.32573,28,6.611,0.79733,NaN,Middle East and Northern Africa,0.06257,0.52208,NaN,NaN,NaN,2015
28,France,2.21126,1.27778,1.26038,0.55011,0.12332,29,6.575,0.94579,NaN,Western Europe,0.03512,0.20646,NaN,NaN,NaN,2015
29,Argentina,2.83600,1.05351,1.24823,0.44974,0.11451,30,6.574,0.78723,NaN,Latin America and Caribbean,0.04612,0.08484,NaN,NaN,NaN,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
127,Senegal,1.97861,0.44314,0.77416,0.31056,0.19103,128,4.219,0.40457,4.151,Sub-Saharan Africa,NaN,0.11681,4.287,NaN,NaN,2016
128,Bulgaria,1.15377,1.11306,0.92542,0.21219,0.12793,129,4.217,0.67806,4.104,Central and Eastern Europe,NaN,0.00615,4.330,NaN,NaN,2016
129,Mauritania,1.92630,0.61391,0.84142,0.12680,0.22686,130,4.201,0.28639,4.127,Sub-Saharan Africa,NaN,0.17955,4.275,NaN,NaN,2016
130,Zimbabwe,2.44270,0.35041,0.71478,0.25429,0.18503,131,4.193,0.15950,4.101,Sub-Saharan Africa,NaN,0.08582,4.285,NaN,NaN,2016
131,Malawi,2.82859,0.08709,0.14700,0.41430,0.30968,132,4.156,0.29364,4.041,Sub-Saharan Africa,NaN,0.07564,4.271,NaN,NaN,2016
132,Sudan,2.10995,0.63069,0.81928,0.00000,0.18077,133,4.139,0.29759,3.928,Sub-Saharan Africa,NaN,0.10039,4.350,NaN,NaN,2016
133,Gabon,1.45332,1.15851,0.72368,0.28098,0.06244,134,4.121,0.34940,4.030,Sub-Saharan Africa,NaN,0.09314,4.212,NaN,NaN,2016
134,Mali,2.11087,0.31292,0.86333,0.27544,0.21064,135,4.073,0.16347,3.988,Sub-Saharan Africa,NaN,0.13647,4.158,NaN,NaN,2016
135,Haiti,2.37116,0.34097,0.29561,0.12072,0.47958,136,4.028,0.27494,3.893,Latin America and Caribbean,NaN,0.14476,4.163,NaN,NaN,2016
136,Botswana,0.96741,1.09426,0.89186,0.44089,0.12425,137,3.974,0.34752,3.875,Sub-Saharan Africa,NaN,0.10769,4.073,NaN,NaN,2016
137,Comoros,2.25632,0.27509,0.60323,0.15412,0.18270,138,3.956,0.29981,3.860,Sub-Saharan Africa,NaN,0.18437,4.052,NaN,NaN,2016
138,Ivory Coast,1.97478,0.55507,0.57576,0.40663,0.20338,139,3.916,0.04476,3.826,Sub-Saharan Africa,NaN,0.15530,4.006,NaN,NaN,2016
139,Cambodia,1.31573,0.55604,0.53750,0.58852,0.40339,140,3.907,0.42494,3.798,Southeastern Asia,NaN,0.08092,4.016,NaN,NaN,2016
140,Angola,2.09459,0.84731,0.66366,0.00589,0.12071,141,3.866,0.04991,3.753,Sub-Saharan Africa,NaN,0.08434,3.979,NaN,NaN,2016
141,Niger,2.09469,0.13270,0.60530,0.38041,0.20970,142,3.856,0.26162,3.781,Sub-Saharan Africa,NaN,0.17176,3.931,NaN,NaN,2016
142,South Sudan,2.50929,0.39394,0.18519,0.19662,0.25899,143,3.832,0.15781,3.596,Sub-Saharan Africa,NaN,0.13015,4.068,NaN,NaN,2016
143,Chad,2.30637,0.42214,0.63178,0.12807,0.18667,144,3.763,0.03824,3.672,Sub-Saharan Africa,NaN,0.04952,3.854,NaN,NaN,2016
144,Burkina Faso,1.87319,0.31995,0.63054,0.33370,0.24353,145,3.739,0.21297,3.647,Sub-Saharan Africa,NaN,0.12533,3.831,NaN,NaN,2016
145,Uganda,1.51416,0.34719,0.90981,0.43653,0.27102,145,3.739,0.19625,3.629,Sub-Saharan Africa,NaN,0.06442,3.849,NaN,NaN,2016
146,Yemen,1.97295,0.57939,0.47493,0.22870,0.09821,147,3.724,0.31048,3.621,Middle East and Northern Africa,NaN,0.05892,3.827,NaN,NaN,2016
147,Madagascar,2.15075,0.27954,0.46115,0.13684,0.22040,148,3.695,0.37109,3.621,Sub-Saharan Africa,NaN,0.07506,3.769,NaN,NaN,2016
148,Tanzania,1.37769,0.47155,0.77623,0.31760,0.31472,149,3.666,0.35700,3.561,Sub-Saharan Africa,NaN,0.05099,3.771,NaN,NaN,2016
149,Liberia,2.23284,0.10706,0.50353,0.25748,0.24063,150,3.622,0.23165,3.463,Sub-Saharan Africa,NaN,0.04852,3.781,NaN,NaN,2016
150,Guinea,2.15604,0.22415,0.31090,0.30953,0.29914,151,3.607,0.18829,3.533,Sub-Saharan Africa,NaN,0.11920,3.681,NaN,NaN,2016
151,Rwanda,0.96819,0.32846,0.61586,0.54320,0.23552,152,3.515,0.31865,3.444,Sub-Saharan Africa,NaN,0.50521,3.586,NaN,NaN,2016
152,Benin,2.10812,0.39499,0.10419,0.39747,0.20180,153,3.484,0.21028,3.404,Sub-Saharan Africa,NaN,0.06681,3.564,NaN,NaN,2016
153,Afghanistan,2.14558,0.38227,0.11037,0.16430,0.31268,154,3.360,0.17344,3.288,Southern Asia,NaN,0.07112,3.432,NaN,NaN,2016
154,Togo,2.13540,0.28123,0.00000,0.34678,0.17517,155,3.303,0.24811,3.192,Sub-Saharan Africa,NaN,0.11587,3.414,NaN,NaN,2016
155,Syria,0.81789,0.74719,0.14866,0.06912,0.48397,156,3.069,0.62994,2.936,Middle East and Northern Africa,NaN,0.17233,3.202,NaN,NaN,2016
156,Burundi,2.10404,0.06831,0.23442,0.04320,0.20290,157,2.905,0.15747,2.732,Sub-Saharan Africa,NaN,0.09419,3.078,NaN,NaN,2016

### 1.10 Next steps

In the last exercise, we confirmed that the mean world happiness score stayed approximately the same from 2015 to 2017.

In this lesson, we learned how to combine data using the **pd.concat()** and **pd.merge()** functions. In your travels with pandas, you may happen upon the **df.append()** and **df.join()** methods, which are basically shortcuts for the **concat()** and **merge()** functions. We didn't cover them in this lesson, as the differences are few, but if you want to learn more about them, check out this [documentation](https://pandas.pydata.org/pandas-docs/stable/merging.html).

As we saw in the last section, in order to perform more complex analysis, we have to be able to **clean** and **manipulate** data, whether it be adding data to a dataframe or renaming a column. In the next lessons, we'll continue building on what we've learned so far as we learn ways to **transform** and **reshape** our data.